<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="contenedor-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `contenedor-principal`
     * Elemento padre
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContenedorPrincipal extends Polymer.Element {
      static get is() { return 'contenedor-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'contenedor-principal'
          }
        };
      }
    }

    window.customElements.define(ContenedorPrincipal.is, ContenedorPrincipal);
  </script>
</dom-module>
